<footer class="background2 footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <span class="icon-handle-streamline-vector logo"></span>
        <h2 class="theme-title">
          <a href="resume.pdf" target="_blank" class="theme-title-smaller">
            My Resume
          </a>
        </h2>
        <a href="https://www.linkedin.com/in/nicholasmyers217" target="_blank"><span class="ion-social-linkedin social-icons-dark-hover"></span></a>
	      <a href="https://github.com/nickmyers217" target="_blank"><span class="ion-social-github social-icons-dark-hover"></span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-small text-center">
        <hr>
        <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
        <p class="no-margin">&copy; Nicholas Myers</p>
      </div>
    </div>
  </div>
</footer>
