<!-- Begin Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="row">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand scroll-link" href="#home" data-id="home">
					<span class="logo">{{ brand }}</span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#home" data-id="home" class="scroll-link">Home</a>
					</li>
					<li>
						<a href="#skills" data-id="skills" class="scroll-link">Skills</a>
					</li>
					<li>
						<a href="#work" data-id="work" class="scroll-link">Work</a>
					</li>
					<li>
						<a href="#experience" data-id="experience" class="scroll-link">Experience</a>
					</li>
					<li>
						<a href="#contact" data-id="contact" class="scroll-link">Contact</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</div><!-- /.container-fluid -->
</nav>
<!-- End Navigation -->