<section id="contact" class="background1 section-padding">
	<div class="container">
		<div class="row mb30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
				<h2>Contact</h2>
				<span class="section-divider mb15"></span>
				<p class="no-margin scaleReveal">Want to get in touch? You've come to the right place.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-lg-4">
				<h5 class="heading-1 mb20">Email and Phone:</h5>
				<p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> nickbmyers217@gmail.com</p>
				<p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> 713-320-8787</p>
			</div>
			<div class="col-sm-6 col-lg-7 mt30-xs">
				<form 
					[ngFormModel]="contactForm"
					(submit)="sendMessage($event)"
					#form="ngForm"
					id="contactForm"
					name="contactForm">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input 
										ngControl="subject"
										#subject="ngForm"
										id="subject"
										class="form-control"
										type="text"
									 	placeholder="Subject *">
									<div 
										*ngIf="subject.touched && !subject.valid"
										class="help-block with-errors">
										Subject is required.
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input 
										ngControl="phone"
										id="phone"
										class="form-control"
										placeholder="Phone"
										type="text">
								</div>
							</div>
						</div>
					</div>
					<div class="row mb10">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input 
										ngControl="name"
										#name="ngForm"
										id="name"
										type="text"
										class="form-control"
										placeholder="Your Name *">
									<div
										*ngIf="name.touched && !name.valid"
										class="help-block with-errors">
										Name is required.
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input
										ngControl="email"
										#email="ngForm"
										id="email"
										type="email"
										class="email form-control"
										placeholder="Email *"
										required>
									<div 
										*ngIf="email.touched && !email.valid"
										class="help-block with-errors">
										Email address is required.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<div class="controls">
									<textarea
										ngControl="message"
										#message="ngForm"
										id="message"
										rows="5"
										class="form-control"
										placeholder="Message *">
									</textarea>
									<div 
										*ngIf="message.touched && !message.valid"
										class="help-block with-errors">
										Message is required.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt15">
						<div 
							*ngIf="!requestSent"
							class="col-sm-6">
						</div>
						<div 
							*ngIf="!requestSent"
							class="col-sm-6 text-right">
							<button 
								[disabled]="!form.valid"
								type="submit" 
								id="submit"
								class="btn btn-primary btn-lg">
								Send
							</button>
						</div>
						<div 
							*ngIf="requestSent && requestFinished"
							class="col-sm-12">
							<div 
								[ngSwitch]="requestSuccessful"
								id="msgSubmit"
								class="h4 mt10 no-margin-bottom">
								<div 
									*ngSwitchCase="true"
									class="alert alert-success revealLeft">
									I got your message!
								</div>
								<div 
									*ngSwitchCase="false"
									class="alert alert-danger revealLeft">
									There was a problem. Please try again.
								</div>
							</div> 
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
