<section id="skills" class="background2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-title text-center">
                <h2>Skills</h2>
                <span class="section-divider"></span>
            </div><!-- /.column -->
        </div><!-- /.row -->

        <div class="row">
            <app-skill
                *ngFor="let skill of skills"
                [skill]="skill">
            </app-skill>
        </div>
    </div>
</section>