<!-- Begin Header -->
<header>
	<app-navbar [brand]="brand">
	</app-navbar>
</header>
<!-- End Header -->

<!-- Begin Jumbotron -->
<app-hero></app-hero>
<!-- End Jumbotron -->

<!-- Begin Skills -->
<app-skills></app-skills>
<!-- End Skills -->

<!-- Begin Work -->
<app-projects></app-projects>
<!-- End Work -->

<!-- Begin Experience -->
<section id="experience" class="background2 section-padding-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 section-title text-center">
				<h2>Experience</h2>
				<span class="section-divider"></span>
			</div><!-- /.column -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline pb80">

					<!-- Item 1 -->
					<li>
						<div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="images/neudesic.jpg"></div>
						<div class="timeline-panel leftReveal">
							<div class="timeline-heading">
								<h5 class="heading-1 mb15">2014</h5>
								<h4 class="subheading">Neudesic</h4>
							</div>
							<div class="timeline-body">
								<p>In March 2014 I began a year long internship at Neudesic's Amerishore Program. I acted as both a software quality assurance lead and business analyst during the implementation of a large custom built Sharepoint application.</p>
							</div>
						</div>
					</li>

					<!-- Item 2 -->
					<li class="timeline-inverted">
						<div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="images/UH.png"></div>
						<div class="timeline-panel rightReveal">
							<div class="timeline-heading">
								<h5 class="heading-1 mb15">May 2015</h5>
								<h4 class="subheading">University of Houston</h4>
							</div>
							<div class="timeline-body">
								<p>In May 2015 I graduated from University of Houston's C.T. Bauer College of Business with a B.B.A. in Management Information Systems.</p>
							</div>
						</div>
					</li>

					<!-- Item 3 -->
					<li>
						<div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="images/accenture.jpg"></div>
						<div class="timeline-panel leftReveal">
							<div class="timeline-heading">
								<h5 class="heading-1 mb15">August 2015</h5>
								<h4 class="subheading">Accenture</h4>
							</div>
							<div class="timeline-body">
								<p>In August 2015 I relocated to Seattle to begin working with Accenture as a Systems Analyst. I acted as an analyst for 9 months on an SAP implementation for one of the largest retail companies in the world.</p>
							</div>
						</div>
					</li>

					<!-- Item 4 -->
					<li class="timeline-inverted">
						<div  class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="images/udacity.jpg"></div>
						<div class="timeline-panel rightReveal">
							<div class="timeline-heading">
								<h5 class="heading-1 mb15">July 2016</h5>
								<h4 class="subheading">Udacity</h4>
							</div>
							<div class="timeline-body">
								<p>In July of 2016 I relocated back to Houston and graduated from Udacity's Full Stack Web Developer Nanodegree program. I spent 4 months in the program pushing my Web Development skills to the next level with content and coaching that was built in collaboration with industry leaders like AT&T and Google.</p>
							</div>
						</div>
					</li>

					<!-- Item 5 -->
					<li>
						<div  class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="images/future.jpg"></div>
						<div class="timeline-panel rightReveal">
							<div class="timeline-heading">
								<h5 class="heading-1 mb15">The Future</h5>
								<h4 class="subheading">Working with you?</h4>
							</div>
							<div class="timeline-body">
								<p>In the future I intend to take my skillset even further and master the web's newest technologies. Like Angular 2, React, ASP.NET Core, and others. Maybe we can build something amazing together.</p>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- /.column -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.section -->
<!-- End Experience -->


<!-- Begin Contact -->
<section id="contact" class="background1 section-padding">
	<div class="container">
		<div class="row mb30">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
				<h2>Contact</h2>
				<span class="section-divider mb15"></span>
				<p class="no-margin scaleReveal">Want to get in touch? You've come to the right place.</p>
			</div><!-- /.column -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-sm-5 col-lg-4">
				<h5 class="heading-1 mb20">Email and Phone:</h5>
				<p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> nickbmyers217@gmail.com</p>
				<p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> 713-320-8787</p>
			</div><!-- /.column -->
			<div class="col-sm-6 col-lg-7 mt30-xs">
				<form data-toggle="validator" id="contactForm" name="contactForm">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input class="form-control" data-error="This section is required."
									 id="msg_subject" placeholder="Subject *" required="" type="text">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div><!-- /.column -->
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input class="form-control" id="phone" placeholder="Phone" type="text">
								</div>
							</div>
						</div><!-- /.column -->
					</div><!-- /.row -->
					<div class="row mb10">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input class="form-control" data-error="This section is required." id="name" placeholder="Your Name *" required="" type="text">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div><!-- /.column -->
						<div class="col-sm-6">
							<div class="form-group">
								<div class="controls">
									<input class="email form-control" data-error="This section is required." id="email" placeholder="Email *" required="" type="email">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div><!-- /.column -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<div class="controls">
									<textarea class="form-control" data-error="This section is required." id="message" placeholder="Message *" required="" rows="5"></textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt15">
						<div class="col-sm-6">
							<div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div> 
						</div><!-- /.column -->
						<div class="col-sm-6 text-right">
							<button type="submit" id="submit" class="btn btn-default btn-lg">Send</button>
						</div><!-- /.column -->
					</div><!-- /.row -->
				</form><!-- /.form -->
			</div><!-- /.column -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.section -->
<!-- End Contact -->


<!-- Begin Footer -->
<footer class="background2 footer-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<span class="icon-handle-streamline-vector logo"></span>
				<h2 class="theme-title"><span class="theme-title-smaller">PDF Resume</span></h2>
				<a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
				<a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
				<a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-small text-center">
				<hr>
				<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
				<p class="no-margin">&copy; Nicholas Myers</p>
			</div><!-- /.column -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</footer><!-- /.footer -->
<!-- Begin Footer -->
