<!-- Begin Header -->
<header>
	<app-navbar [brand]="brand">
	</app-navbar>
</header>
<!-- End Header -->

<!-- Begin Jumbotron -->
<app-hero></app-hero>
<!-- End Jumbotron -->

<!-- Begin Skills -->
<app-skills></app-skills>
<!-- End Skills -->

<!-- Begin Work -->
<app-projects></app-projects>
<!-- End Work -->

<!-- Begin Experience -->
<app-timeline></app-timeline>
<!-- End Experience -->

<!-- Begin Contact -->
<app-contact></app-contact>
<!-- End Contact -->

<!-- Begin Footer -->
<app-footer></app-footer>
<!-- End Footer -->
