<section id="experience" class="background2 section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-title text-center">
                <h2>Experience</h2>
                <span class="section-divider"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline pb80">
                    <li *ngFor="let exp of experiences; let i = index"
						[class.timeline-inverted]="i % 2 > 0">
                        <div class="timeline-image scaleReveal">
                            <img alt="" class="img-circle img-responsive" src="{{ exp.image }}">
                        </div>
                        <div class="timeline-panel leftReveal">
                            <div class="timeline-heading">
                                <h5 class="heading-1 mb15">{{ exp.heading }}</h5>
                                <h4 class="subheading">{{ exp.subheading }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>{{ exp.body }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
